


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>EduSmart</title>
    <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <!-- //web fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="/static/assets/css/style-starter.css">
  </head>
  <body>



<section class="w3l-bootstrap-header">
  <nav class="navbar navbar-expand-lg navbar-light py-lg-2 py-2">
    <div class="container">
      <a class="navbar-brand" href="index.html"><span class="fa fa-pencil-square-o "></span> EduSmart</a>
 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon fa fa-bars"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="admin_home">Home</a>
          </li>
          <!-- <li class="nav-item"> -->
            <!-- <a class="nav-link" href="admin_manage_department">Department</a> -->
          <!-- </li> -->
          <li class="nav-item">
            <a class="nav-link" href="admin_manage_batches">Batches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin_manage_subjects">Subjects</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="admin_manage_timetable">Time Table</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="admin_manage_staff">Staff</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="admin_view_students1">Students</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="admin_manage_fees">Fees</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="admin_view_reports">Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin_manage_notification">Notifications</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/">Logout</a>
          </li>

      </div>
    </div>
  </nav>
</section>
<section class="w3l-main-slider" id="home">
