{% include 'public_header.html' %}




 <div class="item">
        <li>
          <div class="slider-info  banner-view banner-top1 bg bg2" data-selector=".bg.bg2">
            <div class="banner-info">
              <div class="container">
                <div class="banner-info-bg mx-auto text-center">
                  <h5>LOG IN !!</h5>
                  <form method="post">
	<center>
		
		<table class="table" style="width: 700px;">
			<tr>
				<th>Username</th>
				<td><input type="text" required name="uname" class="form-control" placeholder="enter username"></td>
			</tr>
			<tr>
				<th>Password</th>
				<td><input type="password" required name="pword" class="form-control" placeholder="enter password"></td>
			</tr>
			<tr>
				<td align="center" colspan="2"><input type="submit" name="submit" value="login"></td>
			</tr>
		</table>
	</center>
</form>
                 
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>









{% include 'footer.html' %}